@media (min-width: 1025px) and (max-width: 1200px){
	.logoleft {
	    width: 120px;
	}
	.menu-area a {
    	font-size: 13px;
    	padding: 27px 8px;
    	display: flex;
	}
	ul.dropdown-menu {
	    top: 70px;
	    width: 223px;
	}
	ul.dropdown-menu.apply {
	    width: 183px;
	    height: 142px;
	}
	ul.dropdown-menu a {
	    font-size: 13px;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.container {
	    padding: 0 30px;
	}
	.logoleft {
	    width: 90px;
	}
	.logo-right a {
	    font-size: 12px;
	}
	.logo-right ul {
	    grid-template-columns: .80fr 1fr 1.20fr;
	}
	.logo-right ul li {
	    padding-right: 10px;
	}
	.menu-area a {
	    font-size: 10px;
	    padding: 28px 8px;
	    display: flex;
	}
	.logo-right span {
	    padding-left: 5px;
	}
	ul.dropdown-menu a {
   		font-size: 10px;
	}
	ul.dropdown-menu {
	    width: 150px;
	    top: 69px;
	}
	ul.dropdown-menu.apply {
	    width: 110px;
	    height: 142px;
	}
	ul.dropdown-menu.apply a {
	    font-size: 8px;
	}
	section.aboutUs-area {
	    padding: 0 30px;
	}
	.p-t-b {
	    padding: 50px 0;
	}
	.aboutUs-home {
	    grid-gap: 10px;
	}
	p.sp {
	    font-size: 13px;
	    font-weight: 700;
	}
	.single-content p {
	    text-align: justify;
	    word-break: break-all;
	}
	.course-history >div {
	    padding: 10px;
	}
	p.op2 {
	    font-size: 15px;
	    padding-bottom: 10px;
	}
	.oure-course {
	    padding: 50px 0;
	}
	.ifame-flex {
	    padding: 30px 0;
	}
	.i-c {
	    padding-top: 30px;
	}
	.news-btn button {
	    padding: 5px 15px;
	}
	p.se-s span {
	    padding-left: 5px;
	}
	.footer-home P a {
	    font-size: 14px;
	}
	.callUs {
	    padding-top: 5px;
	    line-height: 20px;
	}
	.social-media li a {
	    font-size: 14px;
	}
	
}
@media (min-width: 568px) and (max-width: 767px){
	.container {
	    padding: 0 20px;
	}
	.topleft p {
	    font-size: 8px;
	}
	.topright ul {
	    grid-gap: 0 10px;
	}
	.topleft p span {
	    padding-right: 5px;
	}
	#marquee {
	    margin: 0px 20px;
	}
	.logo-area {
	    margin: 10px 0;
	}
	.logoleft img {
	    width: 70px;
	}
	.logo-right a {
	    font-size: 10px;
	}
	.logo-right span {
	    padding-left: 5px;
	}
	.logo-search {
	    border-radius: 3px;
	}
	.logo-right ul li {
	    padding-right: 10px;
	}
	input.logo-search {
	    padding: 5px 5px;
	    font-size: 10px;
	}
	.logo-search input[type="submit"] {
	    font-size: 10px;
	}
	#menu{
		display: none;
	}
	.slicknav_menu {
	    display: block;
	    background-color: #00478e;
	}
	.slicknav_btn {
	     background-color:transparent;
	}
	.p-t-b {
	    padding: 0px 0;
	}
	p.op2 {
	    font-size: 16px;
	}
	section.aboutUs-area {
	    padding: 0 20px;
	}
	.aboutUs-home {
	    grid-template-columns: 1fr;
	    grid-gap: 30px 0px;
	}
	form.form {
	    padding: 0 70px;
	    padding-bottom: 30px;
	}
	.single-course {
	    grid-template-columns: 1fr 1fr;
	}
	.choose-area {
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 0 10px;
	}
	.counter-area {
	    margin: 75px 0;
	}
	.i-c {
	    padding: 20px;
	}
	.i-r {
		padding-bottom: 20px;
	    font-size: 24px;
	}
	.ifame-flex {
	    padding-bottom: 75px;
	}
	.iframe-right button {
	    padding: 10px 20px;
	    margin-top: 30px;
	    font-size: 14px;
	}
	.img-gallery {
	    grid-template-columns: 1fr 1fr 1fr;
	}
	ul.choose-social {
	    padding-top: 60px;
	}
	p.cs1 {
	    font-size: 11px;
	}
	p.cs1 {
	    letter-spacing: 0px;
	}
	p.se-s {
	    font-size: 14px;
	}
	p.se-s span {
	    padding-left: 5px;
	}
	p.d-f {
	    font-size: 22px;
	}
	.news-btn button {
	    padding: 7px 5px;
	}
	.search-wrap input[type="text"] {
	    padding-left: 5px;
	    font-size: 14px;
	    height: 30px;
	}
	.search-wrap input[type="submit"] {
	    padding: 0px 4px;
	    font-size: 12px;
	    height: 30px;
	}
	.footer-home {
	    grid-template-columns: 1fr 1fr;
	}
	.single-footer span {
	    padding-left: 5px;
	}
	.social-media {
	    margin: 0;
	}
	ul.dropdown-menu {
	    position: unset;
	    margin-left:0;
	    padding-left: 10px;
	}
	.slicknav_nav .slicknav_row:hover {
	    border-radius: 0px;
	    color: #fff;
	    background: #023263;
	    width:259px;
	}
	.slicknav_nav a:hover {
	    border-radius: 0px;
	    background: #023263;
	    color: #ffff;
	    width:259px;
	}
	ul.dropdown-menu a:hover {
	    background-color: #124679;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
	    margin: 0px;
	}
}
@media (min-width: 320px) and (max-width: 567px){
	.container {
	    padding: 0 10px;
	}
	.topbar {
	    display: block;
	    height: 60px;
	}
	.topleft p span {
	    padding-right: 5px;
	}
	.topleft p {
	    font-size: 8px;
	}
	.topleft {
	    width: 100%;
	}
	#marquee {
	    margin: 0px 10px;
	}
	.topright ul li {
	    margin-top: 10px;
	}
	.topright a {
    	width: 50px;
    	padding: 5px 12px;
	}
	.topright ul {
	    grid-gap: 0 20px;
	}
	.logo-area {
	    display: block;
	    padding:30px 10px;
	}
	.logo-right ul {
	    display: block;
	}
	.logo-right ul li {
	    padding-right: 0px;
	    padding: 5px;
	}
	#menu{
		display: none;
	}
	.slicknav_menu {
	    display: block;
	    background-color: #00478e;
	}
	.slicknav_btn {
	     background-color:transparent;
	}
	p.s-c1 {
	    font-size: 18px;
	}
	p.s-c2 {
	    font-size: 16px;
	}
	p.lp {
	    font-size: 10px;
	}
	.slider-content button {
	    padding: 5px 25px;
	    margin-top: 20px;
	    margin-bottom: 10px;
	}
	.single-slider {
	     height: auto; 
	}
	.slider-area button.owl-next span {
	     right: 0px;
	     top: 40%; 
	}
	.slider-area button.owl-prev span {
	    left: 0px;
	    top: 40%;
	}
	section.aboutUs-area {
	    padding: 0 10px;
	}
	.aboutUs-home {
	    display: block;
	}
	.p-t-b {
	    padding: 0px 0;
	}
	p.a1 {
	    font-size: 18px;
	}
	p.a2 {
	    font-size: 10px;
	    padding-bottom: 10px;
	}
	.about-wrap {
	    grid-template-columns: 1fr;
	    grid-gap: 30px 0px;
	    padding-top: 30px;
	}
	.aboutUs-right {
		padding-bottom: 30px;
	    margin-top: 30px;
	}
	.oure-course {
	    padding: 30px 0;
	}
	.single-course {
	    grid-template-columns: 1fr;
	    grid-gap: 30px 0px;
	    padding-top: 30px;
	}
	.choose-area {
     display: block; 
	}
	.choose-content {
	    display: block;
	}
	ul.choose-social {
	    display: block;
	    padding-top: 40px;
	}
	p.cs {
	    font-size: 36px;
	    width: 70px;
	    height: 70px;
	}
	.counter-area {
	    height: 150px;
	    margin: 30px 0;
	}
	p.cs1 {
	    font-size: 30px;
	}
	p.ci {
	    font-size: 30px;
	}
	p.ci1 {
	    font-size: 8px;
	}
	.i-c {
	    padding: 20px 0;
	}
	.ifame-flex {
	    display: block;
	}
	.iframe-right {
	    padding-left: 0;
	}
	iframe { 
	    height: 100%;
	    width: 100%;
	}
	.i-r {
        padding: 15px 0;
		font-size: 15px;
	}
	.iframe-right button {
	    margin: 30px 0;
	}
	.studenr-say {
	    display: block;
	}
	.gallery-area {
	    padding: 30px 10px;
	}
	.img-gallery {
	    grid-template-columns: 1fr;
	}
	.student-area {
	    padding: 30px 0;
	}
	section.area {
	    padding-bottom: 30px;
	}
	p.se-s span {
	    padding-left: 5px;
	}
	.search-area {
	     display: block; 
	     margin-bottom: 30px;
	     height: 143px;
	}
	p.se-s {
	    font-size: 15px;
	    padding-top: 30px;
	    padding-bottom: 10px;
	}
	.search-wrap input[type="submit"] {
	    padding: 8px 2px;
	}
	.footer-home {
	    grid-template-columns: 1fr;
	    grid-gap: 40px 20px;
	}
	.price-list li {
	    border-bottom: 1px dotted red;
	}
	ul.price-list li a {
	    font-size: 18px;
	}
	p.ci {
	    font-size: 18px;
	}
	p.cs1 {
	    padding: 20px 0;
	}
	.social-media {
	   margin: 0;
	}
	p.ul {
	    padding-bottom: 20px;
	}
	ul.price-list {
	    line-height: 40px;
	}
	.social-media {
		line-height: 40px;
	}
	ul.opendate li {
	    border-bottom: 1px dotted red;
	    line-height: 40px;
	}
	.copyright-area p {
		font-size: 8px;
	    height: 45px;
	    padding:0 20px;
	}
	p.st-ct {
	    font-size: 24px;
	}
	footer {
	    padding: 30px 0;
	}
	ul.dropdown-menu {
	    position: unset;
	    margin-left:0;
	    padding: 10px 10px 0 10px;
	}
	.slicknav_nav .slicknav_row:hover {
	    border-radius: 0px;
	    color: #fff;
	    background: #023263;
	    width:259px;
	}
	.slicknav_nav a:hover {
	    border-radius: 0px;
	    background: #023263;
	    color: #ffff;
	    width:259px;
	}
	ul.dropdown-menu a:hover {
	    background-color: #124679;
	}
	.slicknav_nav .slicknav_row, .slicknav_nav a {
	    margin: 0px;
	}
}